.highlight-wealthfront {
  color: #FFFFFF;
  background-color: #4840BB;
  padding: .1em .2em;
  border-radius: .1em;
}

.highlight-boeing{
  color: #FFFFFF;
  background-color: #0033A1;
  padding: .1em .2em;
  border-radius: .1em;
}

.highlight-lockheed{
  color: #FFFFFF;
  background-color: #003478;
  padding: .1em .2em;
  border-radius: .1em;
}
