name: Container Publish
on:
  push:
    branches:
      - master

permissions:
  packages: write

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container
        run: nix build -L .#container

      - name: Upload container to ghcr.io
        run: |
          docker load < result
          COMMIT_SHA=$(git rev-parse --short HEAD)
          docker tag "fueledbyjordan/jordanmurray-xyz:latest" "ghcr.io/fueledbyjordan/jordanmurray_xyz:${COMMIT_SHA}"
          docker tag "fueledbyjordan/jordanmurray-xyz:latest" "ghcr.io/fueledbyjordan/jordanmurray_xyz:latest"
          docker push "ghcr.io/fueledbyjordan/jordanmurray_xyz:${COMMIT_SHA}"
          docker push "ghcr.io/fueledbyjordan/jordanmurray_xyz:latest"
